<div class="auth-container">
    <!-- coluna esquerda -->
    <div class="col-xs-12 col-sm-6 auth-col-left">
        <div class="auth-content">
            <!-- logo -->
            <img class="auth-logo" src="../content/images/logo-jhipster.png" alt="Logo">
            <!-- end logo -->

            <!-- subtítulo -->
            <h2 class="auth-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
            <!-- end subtítulo -->

            <!-- descrição -->
            <p class="auth-description">Labore et dolore magna aliqua enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
            <!-- end descrição -->
        </div>
    </div>
    <!-- end coluna esquerda -->

    <!-- coluna direita -->
    <div class="col-xs-12 col-sm-6 auth-col-right">
        <div class="auth-content">
            <!-- título -->
            <h1 class="auth-title" data-translate="login.title">Login</h1>
            <!-- end título -->

            <!-- formulário -->
            <div class="auth-form-container">
                <form ng-submit="vm.login($event)">
                    <!-- login -->
                    <div class="input-group auth-input-group"
                         ng-show="!vm.isLoginWhatsapp"
                         ng-class="{'has-focus' : isLoginFocus}">
            <span class="input-group-addon">
              <img src="../content/images/user.png"
                   alt="user icon"
                   ng-show="!isLoginFocus">
              <img src="../content/images/user_active.png"
                   alt="user icon"
                   ng-show="isLoginFocus">
            </span>
                        <input class="form-control auth-form-control"
                               type="text"
                               ng-model="vm.username"
                               placeholder="Login"
                               ng-focus="isLoginFocus = true"
                               ng-blur="isLoginFocus = false">

                    </div>
                    <!-- end login -->

                    <!-- senha -->
                    <div class="input-group auth-input-group"
                         ng-class="{'has-focus' : isPasswordFocus}">
            <span class="input-group-addon">
              <img src="../content/images/password.png"
                   alt="Password icon"
                   ng-show="!isPasswordFocus">
              <img src="../content/images/password_active.png"
                   alt="Password icon"
                   ng-show="isPasswordFocus">
            </span>
                        <input class="form-control auth-form-control"
                               type="password"
                               ng-model="vm.password"
                               placeholder="Senha"
                               ng-focus="isPasswordFocus = true"
                               ng-blur="isPasswordFocus = false">
                    </div>
                    <!-- end senha -->

                    <!-- .col-xs-12 -->
                    <div class="col-xs-12 auth-button-container">
                        <!-- esqueci minha senha -->
                        <a class="auth-small-link" href="" ng-click="vm.requestResetPassword()" >Esqueci a senha</a>
                        <!-- end esqueci minha senha -->

                        <!-- botão entrar -->
                        <button class="btn btn-success pull-right" >Entrar</button>
                        <!-- end botão entrar -->
                    </div>
                    <!-- end .col-xs-12 -->
                </form>

                <!-- footer -->
                <div class="auth-form-footer">
                    <!-- criar conta -->
                    <span class="auth-small-text" data-translate="login.account.description"></span>
                    <!-- end criar conta -->

                    <div class="set-margin-top-15">
                    <button class="btn btn-success"
                            ng-click="vm.register()"
                            >Registrar</button>

                    </div>
                </div>
                <!-- footer -->

            </div>
            <!-- end formulário -->
        </div>
    </div>
    <!-- end coluna direita -->

    <div class="clearfix"></div>

    <div class="clearfix"></div>

</div>
