<!-- footer -->
<footer>
  <!-- inc -->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
    <p class="inc-title">Datamatte</p>
    <p class="inc-description">© Developed by <strong>esparta.io</strong> and designed by <strong>Grif.design</strong>. All rights reserved 2017 </p>
  </div>
  <!-- end inc -->

  <!-- suporte online -->
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
    <a class="link" href="">SUPORTE ONLINE</a>
  </div>
  <!-- end suporte online -->

  <!-- suporte telefone -->
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
    <a class="link" href="">SUPORTE TELEFONE</a>
  </div>
  <!-- end suporte telefone -->

  <!-- redes sociais -->
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 social-media">
    <!-- facebook -->
    <a href="">
      <img src="../content/images/facebook.png" alt="facebook icon">
    </a>
    <!-- end facebook -->

    <!-- instagram -->
    <a href="">
      <img src="../content/images/instagram.png" alt="instagram icon">
    </a>
    <!-- end instagram -->

    <!-- whatsapp -->
    <!--<a href="">-->
      <!--<img src="../content/images/whatsapp_2.png" alt="whatsapp icon">-->
    <!--</a>-->
    <!-- end whatsapp -->
  </div>
  <!-- end redes sociais -->
</footer>
<!-- end footer -->
